* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 3fr;
  grid-template-rows: 1fr 5fr;
}

.header {
  border: 1px solid black;
  background-color: #fff;
  grid-column: 2/5;
}

.side-bar {
  border: 1px solid black;
  background-color: #1992d4;
  grid-row: 1/3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.container-titel {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #fff;
}

.side-bar-titel {
  font-size: 2rem;
}

.side-bar ul {
  color: #fff;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.side-bar li {
  display: flex;
  gap: 10px;
  align-items: center;
}

.side-bar svg {
  width: 25px;
  fill: currentColor;
}

.main-content {
  border: 1px solid black;
  background-color: #e2e8f0;
  grid-column: 2/5;
  grid-row: 2/3;
}
