* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 2fr;
}

.container div {
  font-size: 5rem;
}
.header {
  border: 1px solid black;
  background-color: #fff;
  grid-column: 2/5;
}

.side-bar {
  border: 1px solid black;
  background-color: #1992d4;
  grid-row: 1/4;
}

.main-content {
  border: 1px solid black;
  background-color: #e2e8f0;
  grid-column: 2/5;
  grid-row: 2/4;
}
